{% extends "base.html" %}

{% block head %} Home Page {% endblock %}

{% block body %} 
    Welcome to the Home Page 
    <h1 align="center">Notes</h1>
    <ul id="notes">
        {% for note in user.notes %}
            <li> 
                {{ note.data }} 
                <button type="button" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </ul>
    <form method = "POST">
        <textarea name="note", id="note"></textarea>
            <div align="center">
                <button type="submit" class="btn">Add Note</button>
            </div>
    </form>
{% endblock %}